---
import "../assets/styles/tailwind.css";
---

<html lang="en" class="2xl:text-[20px] dark motion-safe:scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Harman Khangura - Portfolio</title>
		<script>
			// On page load or when changing themes
			if (
				localStorage.theme === "dark" ||
				(!("theme" in localStorage) &&
					window.matchMedia("(prefers-color-scheme: dark)").matches)
			) {
				document.documentElement.classList.add("dark");
			} else {
				document.documentElement.classList.remove("dark");
			}
		</script>
	</head>
	<body class="antialiased bg-page text-default tracking-tight">
		<h1>Welcome to my website</h1>
	</body>
</html>
