---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thank you! - Harman Khangura">
    <Header />
    <main>
        <section class="flex items-center h-full p-16">
            <div
                class="flex items-center container flex-col justify-center mx-auto my-8 px-5"
            >
                <div class="max-w-md text-center">
                    <h2 class="mb-8 font-bold text-9xl">
                        <span class="text-primary">Thank you!</span>
                    </h2><p class="font-semibold md:text-3xl text-3xl">
                        Your request has been submitted.
                    </p><p
                        class="mb-8 dark:text-slate-400 mt-4 text-lg text-muted"
                    >
                        I will be in touch as soon as possible.
                    </p><a class="btn ml-4" href="/" rel="noopener noreferrer"
                        >Back to homepage</a
                    >
                </div>
            </div>
        </section>
    </main>
    <Footer />
</Layout>
