---
import { Icon } from "astro-icon/components";
---

<header
    class="mx-auto w-full border-b border-gray-50/0 ease-in-out flex-none sticky top-0 transition-[opacity] z-40"
    id="header"
>
    <div class="absolute inset-0"></div><div
        class="relative mx-auto md:px-6 text-default max-w-7xl md:grid md:grid-cols-3 md:items-center px-3 py-3 w-full"
    >
        <div class="flex justify-between">
            <a href="/#" class="flex items-center"
                ><svg
                    id="logo"
                    viewBox="218 222.5 64 55"
                    width="64"
                    height="55"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <defs>
                        <clipPath id="__id155">
                            <path
                                d="M 282 250 L 266 277.5 L 234 277.5 L 218 250 L 234 222.5 L 266 222.5 L 282 250 Z"
                            ></path>
                        </clipPath>
                    </defs>
                    <path
                        d="M 282 250 L 266 277.5 L 234 277.5 L 218 250 L 234 222.5 L 266 222.5 L 282 250 Z"
                        stroke-linecap="butt"
                        clip-path="url(#__id155)"
                        fill="none"
                        vector-effect="non-scaling-stroke"
                        style="stroke-width: 6px;"
                        transform="matrix(1, 0, 0, 1, -3.552713678800501e-15, -3.552713678800501e-15)"
                    ></path>
                    <text
                        x="250"
                        y="257"
                        style="text-anchor: middle; white-space: pre;"
                        class="rtl:ml-0 ml-2 rtl:mr-2 dark:text-white font-bold md:text-xl self-center text-2xl text-gray-900 whitespace-nowrap"
                        >HK</text
                    >
                </svg><span
                    class="rtl:ml-0 ml-2 rtl:mr-2 dark:text-white font-bold md:text-xl self-center text-2xl text-gray-900 whitespace-nowrap"
                >
                    Harman Khangura</span
                ></a
            ><div class="flex items-center md:hidden">
                <button
                    aria-label="Toggle Menu"
                    class="flex items-center justify-center cursor-pointer flex-col group h-12 rounded w-12"
                    type="button"
                    id="toggleMenu"
                    data-toggle-menu
                    ><span class="sr-only">Toggle Menu</span>
                    <span
                        class="transition duration-200 bg-black dark:bg-white ease h-0.5 my-1 opacity-80 rounded-full transform w-6 group-[.expanded]:rotate-45 group-[.expanded]:translate-y-2.5"
                        aria-hidden="true"></span>
                    <span
                        class="transition duration-200 bg-black dark:bg-white ease h-0.5 my-1 opacity-80 rounded-full transform w-6 group-[.expanded]:opacity-0"
                        aria-hidden="true"></span>
                    <span
                        class="transition duration-200 bg-black dark:bg-white ease h-0.5 my-1 opacity-80 rounded-full transform w-6 group-[.expanded]:-rotate-45 group-[.expanded]:-translate-y-2.5"
                        aria-hidden="true"></span></button
                >
            </div>
        </div><nav
            aria-label="Main navigation"
            class="text-nowrap items-center md:w-auto w-full hidden md:flex md:justify-self-center md:mx-5 md:overflow-x-auto md:overflow-y-visible overflow-x-hidden overflow-y-auto text-default"
        >
            <ul
                class="flex flex-col font-medium md:flex-row md:justify-center md:self-center md:text-[0.9375rem] md:w-auto text-xl tracking-[0.01rem] w-full"
            >
                <li class="">
                    <a
                        href="/#"
                        class="flex items-center dark:hover:text-white hover:text-link px-4 py-3"
                        >Home</a
                    >
                </li>
                <li class="">
                    <a
                        href="/#aboutme"
                        class="flex items-center dark:hover:text-white hover:text-link px-4 py-3"
                        >About Me</a
                    >
                </li>
                <li class="">
                    <a
                        href="/#workexperience"
                        class="flex items-center dark:hover:text-white hover:text-link px-4 py-3"
                        >Work Experience</a
                    >
                </li>
                <li class="">
                    <a
                        href="/#education"
                        class="flex items-center dark:hover:text-white hover:text-link px-4 py-3"
                        >Education</a
                    >
                </li>
                <li class="">
                    <a
                        href="/#skills"
                        class="flex items-center dark:hover:text-white hover:text-link px-4 py-3"
                        >Skills</a
                    >
                </li>
                <li class="">
                    <a
                        href="/contact"
                        class="flex items-center dark:hover:text-white hover:text-link px-4 py-3"
                        >Contact</a
                    >
                </li>
            </ul>
        </nav><div
            class="items-center md:w-auto w-full hidden md:flex bottom-0 fixed justify-end left-0 md:justify-self-end md:mb-0 md:p-0 md:self-center md:static p-3 rtl:left-auto rtl:right-0"
        >
            <div class="flex items-center justify-between md:w-auto w-full">
                <div class="flex">
                    <button
                        aria-label="Toggle between Dark and Light mode"
                        class="text-muted dark:text-gray-400 dark:focus:ring-gray-700 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 hover:bg-gray-100 inline-flex items-center p-2.5 rounded-lg text-sm"
                        type="button"
                        id="toggleTheme"
                    >
                        <Icon
                            class="h-6 w-6 md:h-5 md:inline-block md:w-5"
                            name="tabler:sun"
                        /></button
                    >
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    const toggleThemeButton = document.getElementById("toggleTheme");
    if (toggleThemeButton !== null) {
        toggleThemeButton.addEventListener("click", function () {
            document.documentElement.classList.toggle("dark");
            localStorage.theme = document.documentElement.classList.contains(
                "dark",
            )
                ? "dark"
                : "light";
        });
    }

    const toggleMenuButton = document.getElementById("toggleMenu");
    if (toggleMenuButton !== null) {
        toggleMenuButton.addEventListener(
            "click",
            function () {
                toggleMenuButton.classList.toggle("expanded");
                document.body.classList.toggle("overflow-hidden");
                document.getElementById("header")?.classList.toggle("h-screen");
                document.getElementById("header")?.classList.toggle("expanded");
                document.getElementById("header")?.classList.toggle("bg-page");
                document
                    .querySelector("#header nav")
                    ?.classList.toggle("hidden");
                document
                    .querySelector("#header > div > div:last-child")
                    ?.classList.toggle("hidden");
            },
            false,
        );
    }
    function applyHeaderStylesOnScroll() {
        let lastKnownScrollPosition = window.scrollY;
        const header = document.querySelector("#header");
        if (!header) return;
        if (
            lastKnownScrollPosition > 60 &&
            !header.classList.contains("scroll")
        ) {
            header.classList.add("scroll");
        } else if (
            lastKnownScrollPosition <= 60 &&
            header.classList.contains("scroll")
        ) {
            header.classList.remove("scroll");
        }
    }
    window.addEventListener("load", function () {
        applyHeaderStylesOnScroll();
    });
    window.addEventListener("scroll", () => applyHeaderStylesOnScroll());
    (() => applyHeaderStylesOnScroll())();
</script>
