<section class="relative not-prose md:-mt-[76px]" id="hero">
    <div class="absolute inset-0 pointer-events-none" aria-hidden="true">
    </div><div class="relative mx-auto px-4 max-w-7xl sm:px-6">
        <div class="pointer-events-none md:pt-[76px] pt-0"></div><div
            class="md:py-20 py-12"
        >
            <div class="mx-auto text-center max-w-5xl md:pb-16 pb-10">
                <p
                    class="font-bold dark:text-blue-200 text-base text-secondary tracking-wide uppercase"
                >
                    Portfolio
                </p><h1
                    class="font-bold font-heading leading-tighter tracking-tighter mb-4 dark:text-gray-200 md:text-6xl text-5xl"
                >
                    Harman Khangura
                </h1><div class="mx-auto max-w-3xl">
                    <p class="text-muted text-xl dark:text-slate-300 mb-6">
                        I'm a software developer passionate about learning new
                        technologies.<br />With over 5 years of experience with
                        .NET 8 and a degree from Griffith University for
                        Electronics and Computer engineering, I bring a proven
                        track record of designing and implementing robust,
                        scalable solutions while aiming to improve my self
                        personally and professionally.
                    </p><div
                        class="flex flex-col flex-nowrap gap-4 m-auto max-w-xs sm:flex-row sm:justify-center sm:max-w-md"
                    >
                        <div class="flex w-full sm:w-auto">
                            <a
                                href="/contact"
                                class="w-full btn-primary sm:mb-0">Contact Me</a
                            >
                        </div>
                    </div>
                </div>
            </div><div></div>
        </div>
    </div>
</section>
