---
import { Icon } from "astro-icon/components";
---

<section class="relative not-prose scroll-mt-[72px]" id="skills">
    <div class="absolute inset-0 pointer-events-none -z-[1]" aria-hidden="true">
        <div class="absolute inset-0"></div>
    </div><div
        class="relative mx-auto px-4 lg:py-20 md:px-6 md:py-16 py-12 text-default max-w-7xl"
    >
        <div class="mb-8 md:mb-12 md:mx-auto text-center max-w-3xl">
            <h2
                class="font-bold font-heading leading-tighter tracking-tighter text-heading text-3xl md:text-4xl"
            >
                Skills
            </h2><p class="text-muted text-xl mt-4">
                Discover the proficiencies that allow me to bring imagination to
                life through design.
            </p>
        </div><div class="aspect-h-7 aspect-w-16" aria-hidden="true"></div><div
            class="mx-auto gap-8 grid lg:grid-cols-3 sm:grid-cols-2 md:gap-y-12 mt-12"
        >
            <div>
                <div class="flex flex-row max-w-full sm:max-w-md">
                    <div class="flex justify-center">
                        <Icon
                            class="text-primary flex-shrink-0 h-6 mr-2 mt-1 rtl:ml-2 rtl:mr-0 w-6"
                            name="tabler:point-filled"
                        />
                    </div><div class="mt-0.5">
                        <h3 class="text-lg font-semibold">
                            .NET Ecosystem Development
                        </h3>
                        <p class="text-muted mt-0.5">
                            Proficient in older .Net framework technologies and
                            modern .NET/C# development.
                        </p>
                    </div>
                </div>
            </div><div>
                <div class="flex flex-row max-w-full sm:max-w-md">
                    <div class="flex justify-center">
                        <Icon
                            class="text-primary flex-shrink-0 h-6 mr-2 mt-1 rtl:ml-2 rtl:mr-0 w-6"
                            name="tabler:point-filled"
                        />
                    </div><div class="mt-0.5">
                        <h3 class="text-lg font-semibold">
                            Front-end frameworks
                        </h3><p class="text-muted mt-0.5">
                            Experienced with React, VueJS, Astro and Blazor for
                            front-end development.
                        </p>
                    </div>
                </div>
            </div><div>
                <div class="flex flex-row max-w-full sm:max-w-md">
                    <div class="flex justify-center">
                        <Icon
                            class="text-primary flex-shrink-0 h-6 mr-2 mt-1 rtl:ml-2 rtl:mr-0 w-6"
                            name="tabler:point-filled"
                        />
                    </div><div class="mt-0.5">
                        <h3 class="text-lg font-semibold">CSS Frameworks</h3><p
                            class="text-muted mt-0.5"
                        >
                            Previously worked with Bootstrap, Tailwind CSS, and
                            Materialize CSS for design consistency.
                        </p>
                    </div>
                </div>
            </div><div>
                <div class="flex flex-row max-w-full sm:max-w-md">
                    <div class="flex justify-center">
                        <Icon
                            class="text-primary flex-shrink-0 h-6 mr-2 mt-1 rtl:ml-2 rtl:mr-0 w-6"
                            name="tabler:point-filled"
                        />
                    </div><div class="mt-0.5">
                        <h3 class="text-lg font-semibold">
                            HTML/CSS Proficiency
                        </h3><p class="text-muted mt-0.5">
                            Built web apps with responsive layouts using media
                            queries for optimal user experiences.
                        </p>
                    </div>
                </div>
            </div><div>
                <div class="flex flex-row max-w-full sm:max-w-md">
                    <div class="flex justify-center">
                        <Icon
                            class="text-primary flex-shrink-0 h-6 mr-2 mt-1 rtl:ml-2 rtl:mr-0 w-6"
                            name="tabler:point-filled"
                        />
                    </div><div class="mt-0.5">
                        <h3 class="text-lg font-semibold">
                            JavaScript and TypeScript
                        </h3><p class="text-muted mt-0.5">
                            Advanced skills in ReactJS, VueJS, and Svelte for
                            dynamic UI development.
                        </p>
                    </div>
                </div>
            </div><div>
                <div class="flex flex-row max-w-full sm:max-w-md">
                    <div class="flex justify-center">
                        <Icon
                            class="text-primary flex-shrink-0 h-6 mr-2 mt-1 rtl:ml-2 rtl:mr-0 w-6"
                            name="tabler:point-filled"
                        />
                    </div><div class="mt-0.5">
                        <h3 class="text-lg font-semibold">
                            Test-Driven Development
                        </h3><p class="text-muted mt-0.5">
                            Implemented rigorous testing and debugging for
                            high-quality code.
                        </p>
                    </div>
                </div>
            </div><div>
                <div class="flex flex-row max-w-full sm:max-w-md">
                    <div class="flex justify-center">
                        <Icon
                            class="text-primary flex-shrink-0 h-6 mr-2 mt-1 rtl:ml-2 rtl:mr-0 w-6"
                            name="tabler:point-filled"
                        />
                    </div><div class="mt-0.5">
                        <h3 class="text-lg font-semibold">
                            Multi-Language Proficiency
                        </h3><p class="text-muted mt-0.5">
                            Knowledge of C#, VB.NET, Java, T-SQL, and jQuery for
                            development with any teams.
                        </p>
                    </div>
                </div>
            </div><div>
                <div class="flex flex-row max-w-full sm:max-w-md">
                    <div class="flex justify-center">
                        <Icon
                            class="text-primary flex-shrink-0 h-6 mr-2 mt-1 rtl:ml-2 rtl:mr-0 w-6"
                            name="tabler:point-filled"
                        />
                    </div><div class="mt-0.5">
                        <h3 class="text-lg font-semibold">
                            Analytical and Detail-Oriented
                        </h3><p class="text-muted mt-0.5">
                            Strong problem-solving skills with meticulous
                            attention to detail.
                        </p>
                    </div>
                </div>
            </div><div>
                <div class="flex flex-row max-w-full sm:max-w-md">
                    <div class="flex justify-center">
                        <Icon
                            class="text-primary flex-shrink-0 h-6 mr-2 mt-1 rtl:ml-2 rtl:mr-0 w-6"
                            name="tabler:point-filled"
                        />
                    </div><div class="mt-0.5">
                        <h3 class="text-lg font-semibold">Team Player</h3><p
                            class="text-muted mt-0.5"
                        >
                            Effective in team and autonomous settings, with
                            strong organizational skills.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
