---
import { Icon } from "astro-icon/components";
---

<section class="relative not-prose scroll-mt-[72px]" id="resume">
    <div class="absolute inset-0 pointer-events-none -z-[1]" aria-hidden="true">
        <div class="absolute inset-0"></div>
    </div><div
        class="relative mx-auto px-4 lg:py-20 md:px-6 md:py-16 py-12 text-default max-w-3xl"
    >
        <div class="flex flex-col gap-8 md:gap-12">
            <div class="w-full md:self-center md:py-4">
                <div class="mb-8 md:mb-12 md:mx-auto rtl:text-right text-left">
                    <h2
                        class="font-bold font-heading leading-tighter tracking-tighter text-heading text-3xl lg:text-4xl"
                    >
                        Work experience
                    </h2>
                </div><div class="">
                    <div class="flex">
                        <div
                            class="flex items-center rtl:mr-0 flex-col mr-4 rtl:ml-4"
                        >
                            <div>
                                <div class="flex items-center justify-center">
                                    <Icon
                                        class="rounded-full h-10 w-10 border-2 border-primary dark:border-blue-700 dark:text-slate-200 p-2 text-primary"
                                        name="tabler:briefcase"
                                    />
                                </div>
                            </div><div
                                class="bg-black/10 dark:bg-slate-400/50 h-full w-px"
                            >
                            </div>
                        </div><div class="pt-1 pb-8">
                            <p class="font-bold text-xl">
                                Senior Business System Developer<br /><span
                                    class="font-normal">Credit Corp Group</span
                                ><br /><span class="text-sm font-normal"
                                    >2021 - Present</span
                                >
                            </p><ul class="text-muted mt-2">
                                <li>
                                    Collaborate with business and shareholders
                                    to understand business requirements and
                                    objectives.
                                </li>
                                <li>
                                    Architected microservice solution to meet
                                    business requirements.
                                </li><li>
                                    Integrated with Azure DevOps for CI/CD
                                    pipeline
                                </li><li>
                                    Migrated existing processes from TeamCity
                                    and Octopus Deploy
                                </li><li>
                                    Migrated older .NET Framework (inluding
                                    ASP.NET) projects to .NET 6
                                </li>
                            </ul>
                        </div>
                    </div><div class="flex">
                        <div
                            class="flex items-center rtl:mr-0 flex-col mr-4 rtl:ml-4"
                        >
                            <div>
                                <div class="flex items-center justify-center">
                                    <Icon
                                        class="rounded-full h-10 w-10 border-2 border-primary dark:border-blue-700 dark:text-slate-200 p-2 text-primary"
                                        name="tabler:briefcase"
                                    />
                                </div>
                            </div><div
                                class="bg-black/10 dark:bg-slate-400/50 h-full w-px"
                            >
                            </div>
                        </div><div class="pt-1 pb-8">
                            <p class="font-bold text-xl">
                                Software Developer<br /><span
                                    class="font-normal">Theta Technologies</span
                                ><br /><span class="text-sm font-normal"
                                    >2017 - 2021</span
                                >
                            </p><ul class="text-muted mt-2">
                                <li>
                                    Converted a legacy .NET Web Forms
                                    application to a .NET Web API application
                                    with ReactJS front-end.
                                </li>
                                <li>
                                    Designed and developed MS SQL Server T-SQL
                                    scripts, functions, and stored procedures.
                                </li><li>
                                    Added Approval Tests and Unit Tests to
                                    legacy application to provide some test
                                    coverage.
                                </li><li>
                                    Deployed and upgraded applications on
                                    Windows Servers and configured IIS to host
                                    web app.
                                </li>
                            </ul>
                        </div>
                    </div><div class="flex">
                        <div
                            class="flex items-center rtl:mr-0 flex-col mr-4 rtl:ml-4"
                        >
                            <div>
                                <div class="flex items-center justify-center">
                                    <Icon
                                        class="rounded-full h-10 w-10 border-2 border-primary dark:border-blue-700 dark:text-slate-200 p-2 text-primary"
                                        name="tabler:briefcase"
                                    />
                                </div>
                            </div>
                        </div><div class="pt-1">
                            <p class="font-bold text-xl">
                                Wordpress Developer and Support Officer<br
                                /><span class="font-normal"
                                    >Italian Golf Association</span
                                ><br /><span class="text-sm font-normal"
                                    >2016 - 2017</span
                                >
                            </p><ul class="text-muted mt-2">
                                <li>
                                    Developed and deployed WordPress Themes and
                                    Plugins.
                                </li>
                                <li>
                                    Provided website maintenance,
                                    troubleshooting and upkeep.
                                </li>
                                <li>
                                    Used various programming languages including
                                    MySQL, PHP, CSS3, HTML5, jQuery and
                                    JavaScript.
                                </li>
                                <li>
                                    Front-end Frameworks used - Bootstrap and
                                    Material UI
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
